.container {
  width: 80%;
  margin: 40px auto;
  text-align: center;
  font-family: Arial;
}

.form input {
  padding: 8px;
  margin: 5px;
  width: 180px;
}

button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
}

.update {
  background: blue;
  color: white;
}

.clear {
  background: red;
  color: white;
}

.edit {
  background: gray;
  color: white;
}

.delete {
  background: black;
  color: white;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}