*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(91, 91, 172); */
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: gray;
}
.main{
  height: 400px;
  width: 400px;
  box-shadow: 0 8px 4px rgba(0,0,0,0.3);
  margin: 5% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(227, 227, 232);
  border-radius: 8px;
}
.counter{
  width: 350px;
  margin: 2% auto;
}
.counter h1{
  font-size: 50px;
  color: #333;
}
.count{
  margin: 25px 0;
}
.btn{
  display: flex;
  gap: 10px;
}
.btn button{
  padding: 10px;
  font-size: 20px;
  border: none;
  background-color: rgb(76, 75, 75);
  color: #fff;
  cursor: pointer;
  border-radius: 13px;
  text-align: center;
  margin-left: 6px;
}